@media (max-width: 640px) {
.slideCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    
}
.slideText{
    width: 80%;
    font-size: var(--font-size-xSmall);
}
.slideName{
    width: 70%;
    text-align: center;
}
}
@media (min-width: 640px) {
.slideCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    
}
.slideText{
    width: 80%;
    font-size: var(--font-size-xSmall);
}
.slideName{
    width: 70%;
    text-align: center;
}
}
@media (min-width: 1000px) {
.slideCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    
}
.slideText{
    width: 70%;
}
.slideName{
    width: 70%;
    text-align: center;
}
}