


@media (max-width: 640px) {

}

@media (min-width: 640px) {

}

@media (min-width: 1000px) {
/* Hero */
.hero{
    position: relative;
    display: flex;
    height: 800px;
    width: 100%;
    clip-path: inset(0 0 0 0);
}
.heroCont{
    position: fixed;
    height: 800px;
    width: 100%;
    top: 0;
    left: 0; 
}

.heroTextCont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 10;
    color: var(--font-black-color);
    background-color: var(--bg-white-color);
    padding: 60px;
    width: 80%;
    max-width: 1180px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    
}
.heroTextLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 80%;
    
}
.heroTextLeft h1{
    font-size: var(--font-size-h2);
}
.heroTextLeft h3{
    font-size: var(--font-size-p);
}
.heroItemCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center ;
    gap: 40px;
    width: 60%;
}
.heroItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-p);
    font-weight: bold;
}
.heroItemImg{
    position: relative;
    width: 100px;
    height: 100px;
}
.logoImage{
    width: 70%;
    height: auto;
}
.heroImage{
    filter: brightness(60%);
    height: 800px;
}
/* Multi */

.multiCont{
    background-color: var(--bg-grey-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
}
.multiCont h2{
    font-size: var(--font-size-h2);
}
.multiContP{
    font-size: var(--font-size-p);
    width: 80%;
    max-width: 860px;
    text-align: center;
    margin-bottom: 30px;
}
.multiItemCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    width: 90%;
    height: auto;
}
.multiItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 590px;
    width: 400px;
    padding: 40px 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--bg-white-color);
}
.multiItem h3{
    font-size: var(--font-size-h3);
}
.multiItem p{
    font-size: var(--font-size-p);
}
.multiP{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}


/* Break */
.breakCont{
    background-color: var(--bg-blue-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 788px;
}
.breakItemCont{
    background-color: var(--bg-white-color);
    width: 80%; 
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
    padding: 80px 100px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.breakItemCont h2{
    font-size: var(--font-size-h2);
}
.breakLine{
    border: 1px solid black;
    width: 80%;
}
.breakItemCont p{
    font-size: var(--font-size-p);
}

/* Achieve */
.achieveCont{
    background-color: var(--bg-white-color);
    height: 650px;
    display: grid;
    grid-template-columns: 60% auto;
}
.achieveLeft{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: end; 
    
    
}
.achieveTextCont{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 80%;
    gap: 30px;
    margin-right: 4%;
}
.achieveLeft h2{
    font-size: var(--font-size-h2);
}
.achieveLeft p{
    font-size: var(--font-size-p);
}
.achieveRight{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.achieveImageCont{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
    width: 70%;
    
}
.achieveImage{
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    max-height: 400px;
    width: auto;
}

/* Team */

.teamCont{
    background-color: var(--bg-grey-color);
    height: 650px;
    display: grid;
    grid-template-columns: 50% auto;
}

.teamLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamStatCont{
    background-color: var(--bg-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
    padding: 50px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.teamIconCont{
    position: relative;
    display: inline-block; 
}
.teamIconText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
    color: var(--bg-white-color);
}
.teamIconText h1{
    font-size: var(--font-size-h1);
}
.teamIconText p{
    font-size: var(--font-size-p);
}
.teamRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 3vw;
    gap: 30px;

}
.teamRight h2{
    font-size: var(--font-size-h2);
}
.teamRight p{
    font-size: var(--font-size-p);
}
/* Flow */
.flowCont{
    background-color: var(--bg-blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

}
.pathTitleCont{
    width: 80%;
}
.pathTitleCont h2{
    font-size: var(--font-size-h2);
    color: var(--font-blue-color);
    padding-bottom: 40px;
    text-align: start;
    width: 100%;
}
.flowStepCont{
    width: 80%;
    display: grid;
    grid-template-columns: 80px 350px auto;
    align-items: center;
    gap: 5vw;
    padding-bottom: 40px;
    color: var(--font-blue-color);
}
.flowStepCont h1{
    font-size: var(--font-size-h2);
}
.flowStepText{
    width: 400px;
}
.flowStepCont h3{
    font-size: var(--font-size-h4);
}
.flowLineCont{
    width: 80%;
    padding-bottom: 50px;
}
.flowLine{
    border: 1px solid var(--font-blue-color);
    width: 100%;
}
/* Testimonial */
.testCont{
    background-color: var(--bg-grey-color);
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testItemCont{
    background-color: var(--bg-white-color);
    margin: 50px;
    height: 60%;
    width: 80%;
    max-width: 1180px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.testItemCont h3{
    font-size: var(--font-size-h3);
}
.carouselCont{
    width: 100%;
}
/* Reap */

.reapCont{
    background-color: var(--bg-blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;

}
.reapTextCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: auto;
    gap: 30px;
    
}
.reapCont h2{
    font-size: var(--font-size-h2);
    text-align: start;
}
.reapCont h3{
    font-size: var(--font-size-h3);
    text-align: start;
}
.reapCont p{
    font-size: var(--font-size-p);
    text-align: start;
}
.reapListCont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* padding: 50px ; */
    background-color: var(--bg-blue-color);
    flex-wrap: wrap;
    /* border-radius: var(--border-radius);
    box-shadow: var(--box-shadow); */
}
.reapListItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 240px;
    height: 150px;
    background-color: var(--bg-grey-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.reapListItem p{
    text-align: center;
    
}
.reapListItemText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 108px;
}
.reapListItemImg{
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: -40px;
    
}
.reapListItemCirc{
    margin-top: -35px;
}
.reapBtnCont{
    display: flex;
    justify-content: center;
    align-items: center;
}
}